.card {
    background-color: white;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.counter {
    font-size: 16px;
    color: #6c757d;
    margin-bottom: 16px;
    min-width: 600px;
}

.questionText {
    font-size: 24px;
    margin-bottom: 24px;
}

.answersContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.answerButton {
    padding: 12px;
    font-size: 18px;
    background-color: #f8f9fa;
    border: 0 solid ;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.answerButton:hover {
    background-color: #e9ecef;
    border-color: #adb5bd;
}